
.layout{
  height: 100%;
  .header{
    display: flex;
    height: 48px;
    .ant-menu-item{
      line-height: 48px;
      height: 48px;
    }
  }
  .logo {
    width: 120px;
    height: 30px;
    margin: 9px 24px 9px 0;
    background: rgba(255, 255, 255, 0.3);
  }
  .site-layout-background {
    background: #fff;
  }
  .layout-content{
    max-height: 100%;
    overflow: auto;
  }

}